torch
torchdata
Cartopy>=0.20.3
xarray
zarr
fsspec
einops
numpy
pandas
rioxarray
pathy
pyaml_env
nowcasting_datamodel
gitpython
geopandas
dask
pvlib
jpeg_xl_float_with_nans
h5netcdf
tqdm
bottleneck
pyproj
pyresample
fastparquet
scipy
pytorch_lightning
