torch==1.12.1
torchdata==0.4.1
Cartopy>=0.20.3
torch
xarray
zarr
fsspec
einops
numpy
pandas
rioxarray
pathy
pyaml_env
nowcasting_datamodel
gitpython
torchdata>=0.4.1
geopandas
dask
pvlib
jpeg_xl_float_with_nans
h5netcdf
tqdm
bottleneck
pyproj
pyresample
fastparquet
scipy
